#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden
}
#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}
#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left
}
#cboxContent {
    position: relative
}
#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}
#cboxTitle {
    margin: 0
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer
}
.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic
}
.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}
#cboxOverlay {
    background: #000
}
#colorbox {
    outline: 0
}
#cboxContent {
    margin-top: 20px;
    background: #000
}
.cboxIframe {
    background: #fff
}
#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}
#cboxLoadedContent {
    border: 0px;
    background: #fff
}
#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc
}
#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0px;
    color: #ccc
}
#cboxLoadingGraphic {
    /*background: url(images/loading.gif) no-repeat center center*/
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
    outline: 0
}
#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff
}
#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    /*background: url(images/controls.png) no-repeat top left;*/
    width: 28px;
    height: 65px;
    text-indent: -9999px
}
#cboxPrevious:hover {
    background-position: bottom left
}

#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    /*background: url(images/controls.png) no-repeat top right;*/
    width: 28px;
    height: 65px;
    text-indent: -9999px
}
#cboxNext:hover {
    background-position: bottom right
}
#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    /*background: url(images/controls.png) no-repeat top center;*/
    width: 38px;
    height: 19px;
    text-indent: -9999px
}
#cboxClose:hover {
    background-position: bottom center
}
#micromouseSlide {
    padding: 1%;
    margin:auto;
    width: 90%;
}
.calendar {
  display: inline-block
}
.containerCalendar {
  text-align: center
}
.slider_main {
    padding: 1%;
    padding-bottom: 3%;
    width: 96%;
    margin: auto;
    max-width: 1500px;
}
.bgimg {
  width: 100%;
}

.mailing {
  font-weight: bold;
  padding-top: 5px;
  text-decoration: underline;
}
.learnmore {
  font-weight: bold;
  font-size: 20px;
  float:right;
}
li.mail {
  padding-top: 10px;
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url(fonts/opensans/OpenSans-Regular-webfont.eot);
    src: url(fonts/opensans/OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/opensans/OpenSans-Regular-webfont.woff) format("woff"), url(fonts/opensans/OpenSans-Regular-webfont.ttf) format("truetype"), url(fonts/opensans/OpenSans-Regular-webfont.svg#OpenSansRegular) format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansLight';
    src: url(fonts/opensans/OpenSans-Light-webfont.eot);
    src: url(fonts/opensans/OpenSans-Light-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/opensans/OpenSans-Light-webfont.woff) format("woff"), url(fonts/opensans/OpenSans-Light-webfont.ttf) format("truetype"), url(fonts/opensans/OpenSans-Light-webfont.svg#OpenSansRegular) format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url(fonts/opensans/OpenSans-Italic-webfont.eot);
    src: url(fonts/opensans/OpenSans-Italic-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/opensans/OpenSans-Italic-webfont.woff) format("woff"), url(fonts/opensans/OpenSans-Italic-webfont.ttf) format("truetype"), url(fonts/opensans/OpenSans-Italic-webfont.svg#OpenSansItalic) format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url(fonts/opensans/OpenSans-Semibold-webfont.eot);
    src: url(fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/opensans/OpenSans-Semibold-webfont.woff) format("woff"), url(fonts/opensans/OpenSans-Semibold-webfont.ttf) format("truetype"), url(fonts/opensans/OpenSans-Semibold-webfont.svg#OpenSansSemibold) format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'glyph';
    src: url(fonts/glyph/glyph.eot);
    src: url(fonts/glyph/glyph.eot?#iefix) format("embedded-opentype"), url(fonts/glyph/glyph.woff) format("woff"), url(fonts/glyph/glyph.ttf) format("truetype"), url(fonts/glyph/glyph.svg#icomoon) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
  font-family: 'fontello';
  src: url(fonts/fontello/fontello.eot?25221796);
  src: url(fonts/fontello/fontello.eot?25221796#iefix) format('embedded-opentype'),
       url(fonts/fontello/fontello.woff2?25221796) format('woff2'),
       url(fonts/fontello/fontello.woff?25221796) format('woff'),
       url(fonts/fontello/fontello.ttf?25221796) format('truetype'),
       url(fonts/fontello/fontello.svg?25221796#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
    font-family: 'glyph';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  font-size: 150%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-location:before,
.icon-clock:before,
.icon-attachment:before,
.icon-google-plus:before,
.icon-facebook:before,
.icon-lock:before,
.icon-heart:before,
.icon-linkedin:before,
.icon-checkmark:before,
.icon-arrow-right:before {
    font-family: 'glyph';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}
.icon-location:before {
    content: "\6c"
}
.icon-clock:before {
    content: "\74"
}
.icon-attachment:before {
    content: "\61"
}
.icon-google-plus:before {
    content: "\67"
}
.icon-facebook:before {
    content: "\66"
}
.icon-lock:before {
    content: "\73"
}
.icon-heart:before {
    content: "\68"
}
.icon-linkedin:before {
    content: "\69"
}
.icon-checkmark:before {
    content: "\63"
}
.icon-arrow-right:before {
    content: "\3e"
}
.icon-personal:before { content: "\e800"; }
.icon-twitter:before { content: "\f099"; }

.icon-github:before { content: "\f09b"; }
.icon-instagram:before { content: "\f16d"; }

* {
  -webkit-overflow-scrolling: touch;
  margin: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'OpenSansRegular';
    font-size: 16px;
    background-color: #FAFAFA;
    background-image: url(/assets/bg_container-2fbfa4184e846302151032c4b005c4293.png);
    background-repeat: repeat-y;
    background-position: center
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #98A1AA
}
a {
    color: inherit;
    text-decoration: none
}
a.icon-link {
    display: inline-block;
    border: 5px solid #98A1AA;
    background-color: #98A1AA;
    margin-top: 5px
}
a.icon-link span {
    font-size: 12px;
    padding: 0 4px 0 4px;
    color: white;
    vertical-align: top
}
a.icon-link span.icon {
    font-size: 14px
}
.wrapper {
    /* max-width: 1280px;
    min-width: 1024px; */
    background-color: #FFFFFF;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* margin: 0 auto -150px */
}

@media (max-width: 999px) {
  .wrapper {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    min-width: 1024px;
  }
}
@media (max-width: 500px) {
  .hero {
    display:none;
  }
  .slider_main {
    display: none;
  }
}
.offset {
  padding-top: 110px;
}
.main {
  background-color: #F5F5F5;
}

.hero {
    /* max-width: 1280px;
    min-width: 1024px; */
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
}
.bg_image {

}
/* new navigation bar
*/
.toolbar {
  width: 100%;
  background: white;
  height: 110px;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}
.toolbar_logo {
  width: 200px;
  height: 96px;
}
.toolbar_logo img {
  border: 0px;
}
.toolbar_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
.toolbar_navigation-items a {
  color: #145797;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.spacer {
  flex: 1;
}
.toolbar_navigation-items li {
  padding: 0 0.5rem
}
.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #186cbc;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #186cbc;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 36px;
  background: transparent;
  border: none;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
}
.toggle-button__line {
  width: 30px;
  height: 2px;
  background: #186cbc;
}
.toggle-button:focus {
  outline: none;
}
.side-drawer {
  height: 100%;
  background: #2F3337;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 250px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.side-drawer ul {
  height: 100%;
  margin-top: 25%;
  overflow: scroll;
  list-style: none;
  display: flex;
  flex-direction: column;

}
.side-drawer.open {
  transform: translateX(0);

}
.side-drawer a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}
.side-drawer li {
  margin: 0.5rem 0;
}
.side-drawer a:hover,
.side-drawer a:active {
  color: #145797;
}
.backdrop {
  position: fixed;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .toolbar_navigation-items {
    display:none;
  }
}
@media (min-width: 769px) {
  .side-drawer {
    display: none;
  }
}
@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }
}

.submenu {
    /* max-width: 1280px;
    min-width: 1024px; */
    height: 70px;
    color: #FFFFFF;
    background-color: transparent;
    display: block;
    margin-left: 15%;
}
.submenu ul {
    width: 100%;
    margin: 0px auto;
    list-style-type: none;
    line-height: 70px;
    text-align: center;
    padding: 0px
}
.submenu ul a {
    text-decoration: none;
    color: inherit
}
.submenu ul li {
    float: left;
    width: 142px;
    font-size: 18px;
    font-family: 'OpenSansLight';
    color: gray;
    font-weight: bold;
}
.submenu ul li:hover:not(.page) {
    background-color: #CDCDCD;
    text-decoration: underline;
}
.submenu ul li.current {
    background-image: url(/assets/current-fd27db282a6e23a595e9cd3c06a08912.png);
    background-position: center bottom;
    background-repeat: no-repeat
}
.submenu ul li.page {
    font-size: 24px;
    margin-right: 0px;
    float: right;
    font-family: 'OpenSansSemibold'
}
.nestedlist {
  list-style-type: none;
}
.list_descript {
}
.list_section {
  text-align: left;
}
.white {
  color: white;
}
#homebanner {
  width: 100%;
  height: calc(100vh - 110px);
  background-image: radial-gradient(#145797, #010C0F);
}
#particles {

}
.slogan-container {
  height: 100%;
}
.slogan {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0;
  color: white;
  font-size: 20px;
}
.slogan img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 32px;

}
.slogan h1 {
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
}
.slogan p {
  text-align: justify;
}
.section_title {
  display: block;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;
}
.section_descipt {
  font-size: 20px;
  display: inline-block;
  margin: auto;
}
.section_descipt p {
  text-align: left;
}
.section {
  padding: 30px;
  position: relative;
  top: 2px;
  display: block;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.19);
  background-color: #fff;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.section:hover {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
@media (max-width: 1000px) {
  .content .right {
    clear: both;
    width: 100%;
  }
  .content .left {
    width: 100%;
  }
  .section_descipt {
    width: 100%;
  }
  .section {
    padding: 15px;

  }
}

@media (min-width: 1001px) {
  .content .right {
    float:right;
    width: 30%;
  }
  .content .left {
    width: 60%;
    margin-left: 10%;
  }
}
.content {
    width: 80%;
    margin: 0px auto;
    padding: 10px 0 75px 0;
    overflow: auto;
}
.content .left {
    float: left;
}
.content .right ul {
    padding-left: 10px
}
.content .right ul li {
    list-style-type: none;
    margin-bottom: 15px
}
.content .right ul li span,
.content .right ul li a {
    color: #6D7883;
    text-decoration: none;
    font-size: 18px
}
.content .right ul li span .blue,
.content .right ul li a .blue {
    color: #1A5298
}
.content .right ul li a:hover,
.content .right ul li span.clickable:hover {
    color: #2F3337
}
table {
    border-collapse: collapse;
    width: 100%
}
table tr {
    padding-bottom: 10px
}
table td {
    vertical-align: middle
}
table td.row-header {
    line-height: 30px;
    font-size: 18px;
    color: #98A1AA
}

.microslide {

}
.microslide2 {

}
@media (max-width: 768px) {
  .microslide {
    display: none;
  }
}
@media (min-width: 769px) {
  .microslide2 {
    display: none;
  }
}
footer {
    background-color: #2F3337;
    color: #FFFFFF;
    /* max-width: 1280px;
    min-width: 1024px; */
    height: 150px;
    display: block;
    padding: 50px 100px;
}

/* footer a {
  color: #898989;
  padding-bottom: 10px;
}

footer a:hover {
  color: #2F3B79;
  text-decoration: none;
} */


.container {
    margin: 0px auto;
    height: 100px;
    font-size: 12px;
    width: 100%;
}

.container .media {
    float: right;

}
.container .media ul {
    padding: 0;
    overflow: hidden;
    height: 50%;
}
.container .media ul li {
    float: left;
    list-style-type: none
}
.container .media .icon {
  padding-right: 5px;
  padding-top: 5px;
  float: left;
  font-size: 20px;
  line-height: 30px;
  margin-left: 8px;
  text-align: center;
  width: 34px;
  border-radius: 5px;
  background-color: #98A1AA
}
.footercol {
  position: relative;
  min-height: 1px;
  text-align: center;
}

.footercol  p {
  text-align: center;
  margin:5px;
}
#iconlink {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 5px;
}
#iconlink .item {
  display: inline;
  margin: 5px;
  font-size: 20px;
  opacity: .5;
}
#iconlink .item:hover {
  opacity: 1;
}
a {
  cursor: pointer;
}
.footerlogo {
  opacity: .5;
}
.footerlogo:hover {
  opacity: 1;
}
.copyright {
  opacity: .5;
}
.mailbutton {
  background-color: #145797;
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: .5;
  cursor: pointer;

  border-radius: 10px;
}
.mailbutton:hover {
  opacity:1;
}

@media (min-width: 768px) {
  .footercol {
      width: 33.33333333%;
      float: left;
      display: block;
      height: 100%;
  }
  .footercol div {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  footer {
    height: 200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footercol1 {
  text-align: left;
}
.footercol2 {

  text-align: center;
}
.footercol3 {

  text-align: right;
}

.contact_info {
  opacity: .5;
}
.contact_info:hover {
  opacity: 1;
}
.clickable {
    cursor: pointer
}

span.heading {
    font-size: 35px;
    display: inline-block;
    margin-bottom: 15px;
}
span.subheading {
    font-size: 21px
}
.blue {
    color: #1A5298
}
.grey {
    color: #6D7883
}
a {
    text-decoration: none
}
#face-grid {
    display: block;
    overflow: hidden;
    background-color: #7B858F;
    width: 568px
}
#face-grid .officer-container {
    width: 284px;
    height: 142px;
    float: left;
    background-color: #E0E0E0
}
#face-grid .tile {
    margin: 0px;
    width: 142px;
    height: 142px;
    float: left
}
#face-grid .salutation {
    position: relative
}
#face-grid .salutation span {
    display: block
}
#face-grid .salutation .rank {
    font-family: 'OpenSansItalic'
}
#face-grid .salutation .left-align {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left
}
#face-grid .salutation .left-align-top {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left
}
#face-grid .salutation .bottom-align {
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: flex-start;
    margin: 0px 10px;
}
#face-grid .salutation .bottom-align .icon:hover {
    transform: scale(1.5)
}
#face-grid .salutation .right-align {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right
}
#face-grid-wrapper {
    height: 568px
}
.committee-description {
    padding: 5px 0px 5px 10px
}
.address {
    overflow: hidden
}
.address .stamp {
    float: left;
    width: 90px;
    height: 110px;
    background-image: url(/assets/stamp-0e39ee9325b052d6b8f88266eeb00026.png)
}
.address .text {
    float: left;
    height: 110px;
    vertical-align: middle;
    margin-left: 20px
}
#advisor-link,
#nationals-link,
#constitution-link {
    text-decoration: none
}
.officer-lightbox {
    padding: 30px
}
.lightbox-face {
    padding: 10px 10px 10px 0px
}
.hope-pic {
    float: right;
    padding-top: 50px
}
.hope-downloads {
    float: left;
    width: 50px
}
.hope-downloads#handouts {
    padding-left: 130px
}
.hope-downloads#labs {
    padding-left: 150px
}
#hope-resources {
    border: 1px solid #CDCDCD
}
#hope-resources .hope-link {
    height: 40px;
    width: 150px;
    text-align: center;
    padding: 10px;
    border: 1px solid #CDCDCD
}
#hope-resources .hope-header {
    color: #2F3337;
    background-color: #CDCDCD;
    padding: 15px;
    border: 1px solid #CDCDCD
}
a.hope-resource {
    color: #6D7883
}
a.hope-resource:hover {
    color: #2F3337
}
.email {
    font-family: 'OpenSansSemibold'
}
#hope-content .left {
    width: 650px
}
#hope-content .right {
    width: 262px
}
#colorbox,
#cboxOverlay,
#cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden
}
#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%
}
#cboxMiddleLeft,
#cboxBottomLeft {
    clear: left
}
#cboxContent {
    position: relative
}
#cboxLoadedContent {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}
#cboxTitle {
    margin: 0
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
    cursor: pointer
}
.centertext {
    float:right;
    padding-bottom: 1em
}
.cboxPhoto {
    float: left;
    margin: auto;
    border: 0;
    display: block;
    max-width: none;
    -ms-interpolation-mode: bicubic
}
.cboxIframe {
    width: 100%;
    height: 100%;
    display: block;
    border: 0
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box
}
#cboxOverlay {
    background: #000
}
#colorbox {
    outline: 0
}
#cboxContent {
    margin-top: 20px;
    background: #000
}
.cboxIframe {
    background: #fff
}
#cboxError {
    padding: 50px;
    border: 1px solid #ccc
}
#cboxLoadedContent {
    border: 0px;
    background: #fff
}
#cboxTitle {
    position: absolute;
    top: -20px;
    left: 0;
    color: #ccc
}
#cboxCurrent {
    position: absolute;
    top: -20px;
    right: 0px;
    color: #ccc
}
#cboxLoadingGraphic {
    /*background: url(images/loading.gif) no-repeat center center*/
}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: none
}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
    outline: 0
}
#cboxSlideshow {
    position: absolute;
    top: -20px;
    right: 90px;
    color: #fff
}
#cboxPrevious {
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -32px;
    /*background: url(images/controls.png) no-repeat top left;*/
    width: 28px;
    height: 65px;
    text-indent: -9999px
}
#cboxPrevious:hover {
    background-position: bottom left
}
#cboxNext {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -32px;
    /*background: url(images/controls.png) no-repeat top right;*/
    width: 28px;
    height: 65px;
    text-indent: -9999px
}
#cboxNext:hover {
    background-position: bottom right
}
#cboxClose {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    /*background: url(images/controls.png) no-repeat top center;*/
    width: 38px;
    height: 19px;
    text-indent: -9999px
}
#cboxClose:hover {
    background-position: bottom center
}

.sponsor-container {
    float: left;
    height: 150px;
    width: 175px;
    margin: 10px;
    position: relative
}
.sponsor {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    height: 100%
}
.sponsor img {
    opacity: 0.65;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px
}
.sponsor-container:hover img {
    opacity: 1
}
